@using Nyxon.Client.Services
@inject NavigationManager Nav
@inject ISnackbar Snackbar
@inject LayoutService LayoutState
@inject IInboxService InboxService
@inject IConversationService ConversationService

<aside class="sidebar">
    <div class="sidebar-top">
        <div class="collapsed-icon">#</div>
        <div class="expanded-search">
            <input type="text" class="input-std" placeholder="Filter chats..." @bind-value="_inputString"
                @bind-value:event="oninput">
        </div>
    </div>
    <div class="side-nav-list">
        @if (InboxService.Conversations == null || !InboxService.Conversations.Any())
        {
            <div class="side-nav-item" style="opacity: 0.5; cursor: default;">
                <MudAvatar class="avatar side-avatar">?</MudAvatar>
                <div class="side-nav-info">
                    <span class="chat-name">No Chats</span>
                    <span class="chat-preview">Inbox is empty</span>
                </div>
            </div>
        }
        else
        {
            var chats = FilteredConversations;

            if (!chats.Any())
            {
                <div class="side-nav-item" style="opacity: 0.5; cursor: default; justify-content: center;">
                    <span class="chat-preview">No matching chats</span>
                </div>
            }

            foreach (Conversation conv in chats)
            {
                <div class="side-nav-item @(conv.IsSelected ? "selected-conversation" : "") @(!LayoutState.IsVaultUnlocked ? "sidebar-locked" : "")"
                    @onclick='() => TryOpenChat(conv)'
                    @(!LayoutState.IsVaultUnlocked ? title="You need to enter your passphrase to open a conversation")>
                    <MudAvatar class="avatar side-avatar">
                        @conv.Initials
                    </MudAvatar>
                    <div class="side-nav-info @(conv.HasUnreadMessages ? "unread" : "")">
                        <span class="chat-name">
                            @conv.TargetUsername
                            @if (conv.HasHandshake)
                            {
                                <span style="margin-left: 4px;"><b>NEW!</b></span>
                            }
                        </span>
                        <span class="chat-preview">
                            @conv.LastMessageAt.ToLocalTime().ToShortTimeString()
                        </span>
                    </div>
                </div>
            }
        }
    </div>
    <div class="sidebar-bottom">
        <div class="status-dot-wrapper">
            <div class="status-dot"></div>
        </div>
        <div class="status-text">
            Online (24ms) // v1.0.4
        </div>
    </div>
</aside>

@code {
    private IEnumerable<Conversation> FilteredConversations
    {
        get
        {
            if (string.IsNullOrWhiteSpace(_inputString))
                return InboxService.Conversations;

            return InboxService.Conversations
            .Where(c => c.TargetUsername.Contains(_inputString, StringComparison.OrdinalIgnoreCase));
        }
    }
    private string _inputString;
    protected override void OnInitialized()
    {
        LayoutState.OnChange += StateHasChanged;
        InboxService.OnChange += StateHasChanged;
        //InboxService.SyncInboxAsync();
    }

    public void Dispose()
    {
        LayoutState.OnChange -= StateHasChanged;
        InboxService.OnChange -= StateHasChanged;
    }

    private void TryOpenChat(Conversation conversation)
    {
        if (!LayoutState.IsVaultUnlocked) return;
        LayoutState.SetHeaderTitle(conversation.TargetUsername);
        Nav.NavigateTo($"/chat/{conversation.ConversationId}");
    }
}