@page "/chat/{ConversationId:guid}"
@using Microsoft.AspNetCore.Authorization
@using Nyxon.Client.Services
@inject LayoutService LayoutState
@inject IConversationService ConversationService
@inject NavigationManager Nav
@inject ChatViewModel _vm
@implements IDisposable

@attribute [Authorize]

<div class=chat-view>
    <div class="messages-area">
        @if (!_vm.ActiveConversation.Messages.Any() || _vm.ActiveConversation.Messages == null)
        {
            <div class="inbox-empty-area">
                <span class="inbox-empty-text">There are no messages in this conversation yet...</span>
            </div>
        }
        else
        {
            string? lastSender = "";
            foreach (var msg in _vm.ActiveConversation.Messages)
            {
                if (msg.IsMine)
                {
                    if (lastSender == msg.SenderUsername)
                    {
                        <div class="msg-wrapper sent consecutive">
                            <div class="bubble">@msg.Content</div>
                        </div>
                    }
                    else
                    {
                        <div class="msg-wrapper sent">
                            <div class="msg-header-row">
                                <span class="msg-sender">@msg.SenderUsername</span>
                                <span class="msg-time-header">@msg.SentAt</span>
                            </div>
                            <div class="bubble">@msg.Content</div>
                        </div>
                    }
                }
                else
                {
                    if (lastSender == msg.SenderUsername)
                    {
                        <div class="msg-wrapper received consecutive">
                            <div class="bubble">@msg.Content</div>
                        </div>
                    }
                    else
                    {
                        <div class="msg-wrapper received">
                            <div class="msg-header-row">
                                <span class="msg-sender">@msg.SenderUsername</span>
                                <span class="msg-time-header">@msg.SentAt</span>
                            </div>
                            <div class="bubble">@msg.Content</div>
                        </div>
                    }
                }
                lastSender = msg.SenderUsername;
            }
        }

    </div>
    <div class="input-area">
        <input type="text" class="input-std msg-input" placeholder="Message Alice...">
        <button class="send-btn">></button>
    </div>
</div>

@code {
    [Parameter]
    public Guid ConversationId { get; set; }

    public void Dispose()
    {
        _vm.StateChanged -= StateHasChanged;
        _vm.Dispose();
    }
    protected override async Task OnInitializedAsync()
    {
        // Set the UI title when this page loads
        // This fixes the issue where refreshing the page clears the header
        if (!LayoutState.IsVaultUnlocked) Nav.NavigateTo("/", false);
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (ConversationId != Guid.Empty)
            {
                _vm.StateChanged += StateHasChanged;
                await _vm.InitializeAsync(ConversationId);
                LayoutState.SetHeaderTitle(_vm.ActiveConversation.TargetUsername);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Couldn't load conversation: {ex.Message}");
            Nav.NavigateTo("/");
        }
    }
}