@page "/chat/{ConversationId:guid}"
@using Microsoft.AspNetCore.Authorization
@using MudBlazor.Extensions
@using Nyxon.Client.Services
@inject LayoutService LayoutState
@inject IConversationService ConversationService
@inject NavigationManager Nav
@inject ChatViewModel _vm
@inject IJSRuntime JS

@implements IAsyncDisposable

@attribute [Authorize]

<div class=chat-view>
    <div class="messages-area" id="messagesContainer">
        @if (_vm.ActiveConversation.Messages == null || !_vm.ActiveConversation.Messages.Any())
        {
            <div class="inbox-empty-area">
                <span class="inbox-empty-text">There are no messages in this conversation yet...</span>
            </div>
        }
        else
        {
            string? lastSender = "";
            foreach (var msg in _vm.ActiveConversation.Messages)
            {
                if (msg.IsMine)
                {
                    if (lastSender == msg.SenderUsername)
                    {
                        <div class="msg-wrapper sent consecutive">
                            <div class="bubble">@RenderMessageSafe(msg.Content)</div>
                        </div>
                    }
                    else
                    {
                        <div class="msg-wrapper sent">
                            <div class="msg-header-row">
                                <span class="msg-sender">@msg.SenderUsername</span>
                                <span class="msg-time-header">@msg.SentAt.ToLocalTime().ToShortTimeString()
                                    @msg.SentAt.ToLocalTime().ToShortDateString()</span>
                            </div>
                            <div class="bubble">@RenderMessageSafe(msg.Content)</div>
                        </div>
                    }
                }
                else
                {
                    if (lastSender == msg.SenderUsername)
                    {
                        <div class="msg-wrapper received consecutive">
                            <div class="bubble">@RenderMessageSafe(msg.Content)</div>
                        </div>

                    }
                    else
                    {
                        <div class="msg-wrapper received">
                            <div class="msg-header-row">
                                <span class="msg-sender">@msg.SenderUsername</span>
                                <span class="msg-time-header">@msg.SentAt.ToLocalTime().ToShortTimeString()
                                    @msg.SentAt.ToLocalTime().ToShortDateString()</span>
                            </div>
                            <div class="bubble">@RenderMessageSafe(msg.Content)</div>
                        </div>
                    }
                }
                lastSender = msg.SenderUsername;
            }
        }

    </div>
    <div class="input-area">
        <input type="text" class="input-std msg-input" placeholder="Type your message..." @bind="_vm.InputString"
            @bind:event="oninput" @onkeydown="_vm.HandleEnterKey">
        <button class="send-btn" @onclick="_vm.SendMessageAsync">></button>
    </div>
</div>

@code {
    [Parameter]
    public Guid ConversationId { get; set; }

    private Action? _stateChangedHandler;
    private bool _shouldAutoScroll = false;
    private bool _shouldLoadHistory = false;
    private int _lastMessageCount = 0;
    private Guid? _lastConversationId = null;

    public async ValueTask DisposeAsync()
    {
        if (_stateChangedHandler != null)
        {
            _vm.StateChanged -= _stateChangedHandler;
        }

        await _vm.DisposeAsync();
    }
    protected override async Task OnInitializedAsync()
    {
        if (!LayoutState.IsVaultUnlocked) Nav.NavigateTo("/", false);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (ConversationId == Guid.Empty) return;
        try
        {

            if (_lastConversationId != null && _lastConversationId != ConversationId)
            {
                if (_stateChangedHandler != null)
                {
                    _vm.StateChanged -= _stateChangedHandler;
                    _stateChangedHandler = null;
                }
                await _vm.DisposeAsync();
            }

            _lastConversationId = ConversationId;

            _stateChangedHandler = () =>
            {
                _ = InvokeAsync(async () =>
    {
                await PrepareAutoScrollAsync();
                StateHasChanged();
            });
            };

            _vm.StateChanged += _stateChangedHandler;

            await _vm.InitializeAsync(ConversationId);
            LayoutState.SetHeaderTitle(_vm.ActiveConversation.TargetUsername);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Couldn't load conversation: {ex.Message}");
            Nav.NavigateTo("/");
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var currentCount = _vm.ActiveConversation.Messages?.Count ?? 0;

        if (firstRender)
        {
            await JS.InvokeVoidAsync(
            "chatScroll.scrollToBottom",
            "messagesContainer"
            );
        }

        if (_vm.InitialScrollToBottom)
        {
            await JS.InvokeVoidAsync(
            "chatScroll.scrollToBottom",
            "messagesContainer"
            );
            _vm.InitialScrollToBottom = false;
        }

        if (_shouldAutoScroll && currentCount != _lastMessageCount)
        {
            await JS.InvokeVoidAsync(
            "chatScroll.scrollToBottom",
            "messagesContainer"
            );
        }

        _lastMessageCount = currentCount;

        bool isNearTop = await JS.InvokeAsync<bool>(
        "chatScroll.isNearTop",
        "messagesContainer"
        );

        if (isNearTop && _vm.CanLoadHistory)
        {
            _ = _vm.LoadHistoryAsync();
        }
    }

    // for safe urls
    private MarkupString RenderMessageSafe(string message)
    {
        var encoded = System.Net.WebUtility.HtmlEncode(message);

        var urlPattern = @"(http[s]?://[^\s]+)";
        var html = System.Text.RegularExpressions.Regex.Replace(encoded, urlPattern, match =>
        {
            var url = match.Value;
            return $"<a href=\"{url}\" target=\"_blank\" rel=\"noopener noreferrer\" class=\"chat-link\">{url}</a>";
        });

        return new MarkupString(html);
    }
    private async Task PrepareAutoScrollAsync()
    {
        _shouldAutoScroll = await JS.InvokeAsync<bool>(
        "chatScroll.isAtBottom",
        "messagesContainer"
        );
    }

}