@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Nav
@inject IJSRuntime JS
@inject HomeViewModel _vm
@inject IUserListService UserListService
@implements IAsyncDisposable

<AuthorizeView>
    <Authorized>
        @if (!_vm.IsUnlocked)
        {
            <div class="auth-wrapper" @onkeydown:window="HandleGlobalKey">
                <div class="auth-card vault">
                    <div style="text-align: center; ">
                        <h2 class="auth-h1">
                            <div style="display: flex; justify-content: center; align-items: center; gap: 15px;">

                                <div class="lock-icon" style="margin-bottom: 0;">
                                    <i class="fa-solid fa-lock"></i>
                                </div>

                                <span>Vault Locked</span>
                            </div>
                        </h2>
                        <p class="auth-p">
                            Enter your passphrase to decrypt your vault.
                        </p>
                    </div>

                    <div class="auth-form">
                        <div class="form-content-grid">
                            <div class="form-column">
                                <div>
                                    <label class="form-label">PASSPHRASE</label>
                                    <input id="terminal-input" class="input-std" placeholder="Enter your passphrase"
                                           autocomplete="off" name="vault-phrase-entry-no-save" data-lpignore="true"
                                           data-1p-ignore="true" spellcheck="false" @bind-value="_vm.InputString"
                                           @bind-value:event="onchange" @onkeyup="HandleKeyDown" @onblur="HideResults" />
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (!string.IsNullOrWhiteSpace(_vm.ErrorMessage))
                    {
                        <div class="error" style="margin-top: 15px;">
                            @_vm.ErrorMessage
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="dashboard-view" @onkeydown:window="HandleGlobalKey">
                <h1 class="dash-greeting">
                    @(textContent: $"Good afternoon, {@context.User.Identity?.Name}.")
                </h1>

                <div class="dash-search-wrapper">
                    <span class="dash-icon @(_vm.IsUnlocked ? "icon-unlocked" : "")">>_</span>
                    <input id="terminal-input" class="dash-search @_terminalMode" autocomplete="off"
                           name="vault-phrase-entry-no-save" data-lpignore="true" data-1p-ignore="true"
                           @bind-value="_vm.InputString" @bind-value:event="oninput" @onfocus="OnFocusInputUpdate"
                           @onkeydown="HandleKeyDown" @onblur="HideResults" />
                    @if (_vm.IsUnlocked && _vm.SearchResults.Any() && _canShowSearch)
                    {
                        <div class="search-results-popup">
                            @foreach (var user in _vm.SearchResults)
                            {
                                <div class="search-item @(user.Conversation ? "existing-friend" : "")"
                                     @onmousedown="() => OpenConversation(user)">

                                    <div class="search-info">
                                        <span class="search-username">@user.Username</span>
                                        @if (user.Conversation)
                                        {
                                            //<span class="search-badge">Existing Conversation</span>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>

                <div class="dash-shortcuts">
                    @if (_vm.IsUnlocked)
                    {
                        //<div class="shortcut-chip">type <b>?</b> for help</div>
                        <div class="shortcut-chip" @onclick="SearchFocus"><b>search users</b></div>
                        <div class="shortcut-chip" @onclick="InviteCodeCommand"><b>:invite code</b></div>
                        //<div class="shortcut-chip"><b>@@username</b> message</div>
                    }
                </div>

                @if (_vm.InviteCodes != null && _vm.InviteCodes.Any())
                {
                    <div class="terminal-output-card">
                        <div class="output-header">
                            <span class="output-title">GENERATED INVITES</span>
                            <div class="header-actions">
                                <button class="btn-copy-all" @onclick="CopyAllAndClose">COPY ALL</button>
                                <button class="btn-icon" @onclick="ClearInvites">x</button>
                            </div>
                        </div>

                        <div class="invite-grid">
                            @foreach (var inviteCode in _vm.InviteCodes)
                            {
                                <div class="invite-code-chip">@inviteCode
                                </div>
                            }
                        </div>
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(_vm.ErrorMessage))
                {
                    <div style="margin-top: 10px;" class="error">
                        @_vm.ErrorMessage
                    </div>
                }
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <section class="landing-hero">
            <h1 class="hero-title">Sovereignty over<br>your data.</h1>
            <p class="hero-subtitle">End-to-End Encrypted.
                Zero Knowledge.<br>The last messenger you will ever need.</p>
                <div class="hero-buttons">
                    <button class="btn-primary" @onclick='() => Nav.NavigateTo("/login")'>Get Started</button>
                    <button class="btn-outline" @onclick='() => Nav.NavigateTo("https://github.com/zampovaj/nyxon")'>Read
                        The Code</button>
                    </div>
                </section>
            </NotAuthorized>
        </AuthorizeView>

@code {
    private bool _canShowSearch = false;
    private string _terminalMode
    {
        get
        {
            if (_vm.Mode == TerminalMode.Command) return "command-mode";
            if (_vm.Mode == TerminalMode.Mention) return "mention-mode";
            else return "";
        }
    }
    private ElementReference _terminalInput;
    private bool _isHotKeyActive = false;

    private async Task SearchFocus()
    {
        _vm.InputString = "";
        await _vm.ResetError();
        await JS.InvokeVoidAsync("domUtils.focusElement", "terminal-input");
    }

    private async Task InviteCodeCommand()
    {
        _vm.InputString = ":invite code";
        await _vm.ResetError();
        await JS.InvokeVoidAsync("domUtils.focusElement", "terminal-input");
    }

    private async Task OnFocusInputUpdate()
    {
        if (_vm.IsUnlocked)
        {
            _canShowSearch = true;

            // it jsut doesnt work unless i assign a different vlaue to the string
            var currentInput = _vm.InputString;
            _vm.InputString = currentInput + " ";
            _vm.InputString = currentInput;
            
            StateHasChanged();
        }
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            _canShowSearch = false;
            await _vm.HandleTerminalKey(e);
            await JS.InvokeVoidAsync("domUtils.blurElement", "terminal-input");
        }
        else
        {
            _canShowSearch = true;
            await _vm.HandleTerminalKey(e);
        }
    }


    private void ClearInvites()
    {
        _vm.InviteCodes = null;
        StateHasChanged();
    }

    private async Task CopyAllAndClose()
    {
        if (_vm.InviteCodes == null || !_vm.InviteCodes.Any()) return;
        _vm.ClearError();

        var allCodes = string.Join("\n", _vm.InviteCodes);

        try
        {
            await JS.InvokeVoidAsync("clipboardCopy.copyText", allCodes);
            await Task.Delay(250);
            ClearInvites();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Clipboard error: {ex.Message}");
        }
    }

    private async Task HideResults(FocusEventArgs e)
    {
        await Task.Delay(150);
        _vm.SearchResults.Clear();
        StateHasChanged();
    }
    private async Task OpenConversation(UserModel user)
    {
        _vm.InputString = "";
        Nav.NavigateTo($"/chat/{user.Username}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_isHotKeyActive)
        {
            try
            {
                await JS.InvokeVoidAsync("terminalHotKeyManager.register", "terminal-input");
                _isHotKeyActive = true;
            }
            catch (JSException) { }
        }

        if (_vm.IsUnlocked)
        {
            await Task.Delay(200);
            _canShowSearch = true;
        }
    }

    protected override void OnInitialized()
    {
        _vm.StateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        _vm.StateChanged -= StateHasChanged;
    }

    public async ValueTask DisposeAsync()
    {
        if (_isHotKeyActive)
        {
            try
            {
                await JS.InvokeVoidAsync("terminalHotKeyManager.dispose");
            }
            catch (JSDisconnectedException)
            {
                // ignore -> browser is laready navigating
            }
            _isHotKeyActive = false;
        }
    }
}