@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Nav
@inject IJSRuntime JS
@inject HomeViewModel _vm
@inject IUserListService UserListService
@implements IAsyncDisposable

<AuthorizeView>
    <Authorized>
        <div class="dashboard-view" @onkeydown:window="HandleGlobalKey">
            <h1 class="dash-greeting">Good afternoon, @context.User.Identity?.Name.</h1>

            <div class="dash-search-wrapper">
                <span class="dash-icon">>_</span>
                <input id="terminal-input" class="dash-search @(_vm.Mode == TerminalMode.Command ? "command-mode" : "")"
                    @bind-value="_vm.InputString" @bind-value:event="oninput" @onkeydown="_vm.HandleTerminalKey"
                    @onblur="HideResults" />



                @if (_vm.IsUnlocked && _vm.SearchResults.Any())
                {
                    <div class="search-results-popup">
                        @foreach (var user in _vm.SearchResults)
                        {
                            <div class="search-item @(user.Conversation ? "existing-friend" : "")"
                                @onmousedown="() => OpenConversation(user)">

                                <div class="search-info">
                                    <span class="search-username">@user.Username</span>
                                    @if (user.Conversation)
                                    {
                                        //<span class="search-badge">Existing Conversation</span>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>

            <div class="dash-shortcuts">
                @if (_vm.IsUnlocked)
                {
                    <div class="shortcut-chip">type <b>?</b> for help</div>
                    <div class="shortcut-chip"><b>:command</b></div>
                    <div class="shortcut-chip"><b>@@username</b> message</div>
                }
                else
                {
                    <div class="shortcut-chip"><b>commands</b> will be available after unlock</div>
                }
            </div>

            @if (_vm.InviteCodes != null && _vm.InviteCodes.Any())
            {
                <div class="terminal-output-card">
                    <div class="output-header">
                        <span class="output-title">GENERATED INVITES</span>
                        <div class="header-actions">
                            <button class="btn-copy-all" @onclick="CopyAllAndClose">COPY ALL</button>
                            <button class="btn-icon" @onclick="ClearInvites">x</button>
                        </div>
                    </div>

                    <div class="invite-grid">
                        @foreach (var inviteCode in _vm.InviteCodes)
                        {
                            <div class="invite-code-chip">@inviteCode
                            </div>
                        }
                    </div>
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(_vm.ErrorMessage))
            {
                <div style="margin-top: 10px;" class="error">
                    @_vm.ErrorMessage
                </div>
            }

        </div>
    </Authorized>
    <NotAuthorized>
        <section class="landing-hero">
            <h1 class="hero-title">Sovereignty over<br>your data.</h1>
            <p class="hero-subtitle">End-to-End Encrypted.
                Zero Knowledge.<br>The last messenger you will ever need.</p>
            <div class="hero-buttons">
                <button class="btn-primary" @onclick='() => Nav.NavigateTo("/login")'>Get Started</button>
                <button class="btn-outline">Read The Code</button>
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>

@code {
    private ElementReference _terminalInput;
    private bool _isHotKeyActive = false;

    private void ClearInvites()
    {
        _vm.InviteCodes = null;
        StateHasChanged();
    }

    private async Task CopyAllAndClose()
    {
        if (_vm.InviteCodes == null || !_vm.InviteCodes.Any()) return;

        var allCodes = string.Join("\n", _vm.InviteCodes);

        try
        {
            await JS.InvokeVoidAsync("clipboardCopy.copyText", allCodes);
            await Task.Delay(250);
            ClearInvites();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Clipboard error: {ex.Message}");
        }
    }

    private async Task HideResults(FocusEventArgs e)
    {
        await Task.Delay(150);
        _vm.SearchResults.Clear();
        StateHasChanged();
    }
    private async Task OpenConversation(UserModel user)
    {
        _vm.InputString = "";
        Nav.NavigateTo($"/chat/{user.Username}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_isHotKeyActive)
        {
            try
            {
                await JS.InvokeVoidAsync("terminalHotKeyManager.register", "terminal-input");
                _isHotKeyActive = true;
            }
            catch (JSException) { }
        }
    }

    protected override void OnInitialized()
    {
        _vm.StateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        _vm.StateChanged -= StateHasChanged;
    }

    public async ValueTask DisposeAsync()
    {
        if (_isHotKeyActive)
        {
            try
            {
                await JS.InvokeVoidAsync("terminalHotKeyManager.dispose");
            }
            catch (JSDisconnectedException)
            {
                // ignore -> browser is laready navigating
            }
            _isHotKeyActive = false;
        }
    }
}