@using Microsoft.AspNetCore.Components.Routing
@using Nyxon.Client.Layout 

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div style="padding: 20px; text-align: center;">
                <p>Sorry, there's nothing at this address.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>